{{> header }}
<body>
    <body>
        <div class="container mt-5">
          <h1>Edit Account</h1>
          <form method="post">
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
              <label for="dietary">Dietary preferences:</label>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="vegan" name="dietary[]" value="vegan">
                <label class="form-check-label" for="vegan">Vegan</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="vegetarian" name="dietary[]" value="vegetarian">
                <label class="form-check-label" for="vegetarian">Vegetarian</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="halal" name="dietary[]" value="halal">
                <label class="form-check-label" for="halal">Halal</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="kosher" name="dietary[]" value="kosher">
                <label class="form-check-label" for="kosher">Kosher</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="other-dietary" name="dietary[]" value="other">
                <label class="form-check-label" for="other-dietary">Other:</label>
                <input type="text" class="form-control" id="other-dietary-input" name="other_dietary">
              </div>
            </div>

            
            <div class="form-group">
                <label for="health-concerns">Health Concerns:</label>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="diabetes" name="health_concerns[]" value="diabetes">
                  <label class="form-check-label" for="diabetes">Diabetes</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="cardiovascular-disease" name="health_concerns[]" value="cardiovascular-disease">
                  <label class="form-check-label" for="cardiovascular-disease">Cardiovascular Disease</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="celiac-disease" name="health_concerns[]" value="celiac-disease">
                  <label class="form-check-label" for="celiac-disease">Celiac Disease</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="inflammatory-bowel-disease" name="health_concerns[]" value="inflammatory-bowel-disease">
                  <label class="form-check-label" for="inflammatory-bowel-disease">Inflammatory Bowel Disease</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="chronic-kidney-disease" name="health_concerns[]" value="chronic-kidney-disease">
                  <label class="form-check-label" for="chronic-kidney-disease">Chronic Kidney Disease</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="other-health-concerns" name="health_concerns[]" value="other">
                  <label class="form-check-label" for="other-health-concerns">Other:</label>
                  <input type="text" class="form-control" id="other-health-concerns-input" name="other_health_concerns">
                </div>
              </div>
              
                <button type="submit" class="btn btn-primary">Save Changes</button>
                
    

	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>