{{> header }}

<body>
  <div class="container-fluid">


    <div class="row">

      <!-- Sidebar with user information -->
      <div class="col-md-3 bg-light">
        <div class="py-3 text-center">
          <img src="path/to/avatar.jpg" class="rounded-circle img-fluid">

          <h2 class="mt-2"> {{username}} </h2>
        </div>
        <div class="px-3 pb-3">
          <h4>Dietary Preference</h4>
          {{#dietary}}
          <p> {{preference}} </p>
          {{/dietary}}

          <h4>Health Issues</h4>

          {{#health}}
          <p>{{concern}}</p>
          {{/health}}

        </div>
        <div class="px-3 pb-3">
          {{#isOwnAccount}}
          <a href="/editAccount" class="btn btn-primary btn-block">Edit Account</a>
          {{/isOwnAccount}}

          {{#isFriend}}
          <button class="btn btn-danger btn-block" onclick="removeFriend()">Remove Friend</button>
          {{else}}
          <button class="btn btn-success btn-block" onclick="addFriend()">Add Friend</button>
          {{/isFriend}}

        </div>
      </div>

      <!-- Recipe list -->

      <div class="col-md-9">
        <h2 class="mt-4">Recipes</h2>
        <div  class="info">
          <b style="color:green;"> {{messages.reg}}</b>
        </div> 
        <hr>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            {{#recipeList}}
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="path/to/recipe1.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/recipePageConnected/{{recipeId}}"> {{name}} </a>
                </h4>
                <p class="card-text">Created by <a href="#"> {{username}} </a></p>
              </div>
            </div>
            {{/recipeList}}
          </div>
        </div>
        <a href="/createRecipe" class="btn btn-primary btn-lg float-right">Create Recipe</a>
        <a href="#" class="btn btn-secondary btn-lg float-right mr-3">Chat</a>
      </div>

    </div>
  </div>

</body>